

.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
};

.products__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.btn-more{
    padding: 10px;
    background-color: chocolate;
}

.btn-container{
    text-align: center;
}

.btn-checkout{
    background-color: #FF9900;
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.btn{
    text-decoration: none;
}