

.cart{
    background-color:#FFF0B3;
    padding: 10px;
    position: sticky;
    top: 0;
}
.btn-clear{
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF3030;
    color: white;
    font-weight: bold;
}