

.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 260px;
    height: 260px;
    margin: 7px;
    border-radius: 8px;
}

.product-info{
    padding: 5px;
}

.product p{
    margin-top: 3px;
}
.btn-cart{
    width: 100%;
    background: #FFF0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background: orange
}